{{ $wasmPath := .Get 0 }}
{{ $seed := now.Unix }}
{{ $postfix := (delimit (shuffle (split (md5 $seed) "" )) "") | safeJS }}
{{ $id := (delimit (shuffle (split (md5 $seed) "" )) "") | safeJS }}
{{ $canvasId := printf "canvas-%s" $id }}

<script>
    if (!WebAssembly.instantiateStreaming) { // polyfill
        WebAssembly.instantiateStreaming = async (resp, importObject) => {
            const source = await (await resp).arrayBuffer();
            return await WebAssembly.instantiate(source, importObject);
        };
    }

    const go_{{- $postfix }} = new Go();
    go_{{- $postfix }}.argv.push("canvasId:{{ $canvasId }}")
    {{ range .Params }}
        go_{{- $postfix }}.argv.push("{{ . }}")
    {{ end }}
    let mod_{{- $postfix }}, inst_{{- $postfix }};
    fetch("{{ .Site.BaseURL }}/wasm/{{ $wasmPath }}.wasm")
        .then((response) => response.arrayBuffer())
        .then((bytes) => WebAssembly.instantiate(bytes, go_{{- $postfix }}.importObject))
        .then((result) => {
            mod_{{- $postfix }} = result.module;
            inst_{{- $postfix }} = result.instance;
            document.getElementById("runButton{{- $postfix }}").disabled = false;
        }).catch((err) => {
        console.error(err);
    });

    async function run{{- $postfix }}() {
        console.clear();
        await go_{{- $postfix }}.run(inst_{{- $postfix }});
        inst_{{- $postfix }} = await WebAssembly.instantiate(mod_{{- $postfix }}, go_{{- $postfix }}.importObject); // reset instance
    }
</script>

<div class="flex flex-column items-center">
    <div>
        <canvas id="{{ $canvasId }}" width="600" height="300" class="bg-gray"> </canvas>
    </div>
    <button onClick="run{{- $postfix }}();" id="runButton{{- $postfix }}" disabled>Run</button>
</div>
