{{ define "main" }}
<main class="w-100 vh-100 flex flex-column justify-around">
    <div class="flex flex-column items-center">
        <h1 class="f3 white o-30 retro tracked-mega pa0 ma0">Jan Cieslak</h1>
        <h1 class="mt3 f2 white o-30 retro tracked-mega pa0 ma0">Software Developer</h1>
        <div>
            <hr class="mv4 o-30"/>
            <div class="flex justify-around">
                <div class="mr5 ph6 pv5 white ba b--white">project 1</div>
                <div class="mr5 ph6 pv5 white ba b--white">project 2</div>
                <div class="ph6 pv5 white ba b--white">project 3</div>
            </div>
        </div>
        <button class="mt5 ph4 pv3 f6 white tracked bg-transparent ba b--white dim pointer">see more</button>
<!--        TODO -->
    </div>
    <div></div>
</main>
{{ end }}
